$active: #F1FCFF;

.change-transfer {
    width: 232px;
    height: 252px;
    display: flex;
    flex-direction: column;
    background-color:#fff;
    text-transform: uppercase;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-right: 20px;
    &__title {
      font-size: 12px;
        margin: 0;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    
    &__btn {
        position: relative;
        height: 40px;
        display: flex;
        align-items:center;
        text-transform: capitalize;
    }
    .checkbox {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    .checkbox:hover + label {
      background-color: $active;
    }
    .checkbox+label {
        display: inline-flex;
        font-family: 'Regular';
        font-size: 13px;
        padding-left: 20px;
        width: 100%;
        height: 100%;
        align-items: center;
        user-select: none;
        transition: .3s;
      }
      .checkbox+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 2px;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
      .checkbox:checked+label::before {
        border-color: #0b76ef;
        background-image: url('./Shape.svg');
        background-size: 70%;
      }
      .checkbox:focus+label::before {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
}